@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

* {
    box-sizing: border-box;
}

body {
    height:100vh;
    background-color: antiquewhite;
}

app-root, noscript{
    display:grid;
    height: 100%;
    grid-template-rows: min-content min-content auto;
}